{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "env": {
        "production": {
            "plugins": [
                "emotion",
                "react-hot-loader/babel",
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "regenerator": true
                    }
                ]
            ]
        },
        "development": {
            "plugins": [
                [
                    "emotion",
                    {
                        "sourceMap": true
                    }
                ],
                "react-hot-loader/babel",
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "regenerator": true
                    }
                ]
            ]
        }
    }
}