{
    "env": {
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "targets": {
                            "browsers": [
                                "last 2 chrome versions"
                            ]
                        }
                    }
                ],
                "@babel/preset-react",
                "@babel/preset-typescript"
            ],
            "plugins": [
                "emotion",
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "regenerator": true
                    }
                ]
            ]
        },
        "development": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "targets": {
                            "browsers": [
                                "last 2 chrome versions"
                            ]
                        }
                    }
                ],
                "@babel/preset-react",
                "@babel/preset-typescript"
            ],
            "plugins": [
                "react-hot-loader/babel",
                "emotion",
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "regenerator": true
                    }
                ]
            ]
        }
    }
}