{
    "env": {
        "browser": true
    },
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "no-unused-expressions": ["error", { "allowTernary": true }],
        "prettier/prettier": ["error"],
        "react/jsx-one-expression-per-line": "off"
    }
}
